RMBTweak=1
LMBTweakWithItem=1
# Disabled: causes hold-to-drag and missed clicks instead of vanilla click-to-pickup (survival + creative)
LMBTweakWithoutItem=0
WheelTweak=1
WheelSearchOrder=1
WheelScrollDirection=0
ScrollItemScaling=0
Debug=0
